server.port: 9080

spring:
  application:
    name: book-review-api
  mongodb:
    host: ${MONGODB_HOST:localhost}
    port: ${MONGODB_PORT:27017}
    database: bookreviewdb
    username: change-me
    password: change-me
  data:
    mongodb:
      auto-index-creation: true
  graphql:
    graphiql:
      enabled: true
    cors:
      allowed-origins: ${app.cors.allowed-origins}

app:
  cors:
    allowed-origins: http://localhost:3000, http://localhost:3001

management:
  tracing:
    sampling:
      probability: 1.0
    export:
      zipkin:
        endpoint: http://${ZIPKIN_HOST:localhost}:${ZIPKIN_PORT:9411}/api/v2/spans

logging:
  level:
    org.springframework.data.mongodb.core.MongoTemplate: DEBUG
    org.mongodb.driver.protocol.command: DEBUG
    org.springframework.graphql: DEBUG
